.footer-content{
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.footer-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--clr-orange-900);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container img{
    width: 20px;
    height: 20px;
}

.footer-title{
    font-size: var(--sizes-base);
}

.footer-details{
    font-size: var(--sizes-sm);
}

.footer-last{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-orange-900);
}
.footer-last a{
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--sizes-sm);
    text-decoration: none;
}

.footer-logo{
    width: 30px;
}

/* xs */
/* @media (min-width: 475px){
   
} */

/* sm */
/* @media (min-width: 640px){
   
} */

/* md */
@media (min-width: 768px){
    .footer-content{
        background-color: var(--clr-dark);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 5rem;
        padding: 1rem;
        width: 100%;
    }
    
    .footer-details-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon-container{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--clr-orange-900);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* lg */
/* @media (min-width: 1024px){
   
} */

/* xl */
/* @media (min-width: 1280px){
  
} */

/* 2xl */
/* @media (min-width: 1536px){
    
} */