.mobile-nav{
    position: absolute;
    top: 70px;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(230, 226, 226); */
    background-color: var(--clr-orange-800);
    z-index: 9999;
}

.mobile-nav-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

.mobile-nav-link{
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: var(--clr-light);
    font-size: var(--sizes-base);
    text-decoration: none;
}
.mobile-nav-link:hover{
    color: var(--clr-dark);
}
